* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	position: relative;
	height: 100%;
	background-color: #000;
}
input {
	outline: none;
}
.panel {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 600px;
	border: 10px solid #fff;
	border-radius: 30px;
	background: linear-gradient(to bottom,#666 0%,#000 100%);
}
.block {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90%;
	padding: 30px;
	display: none;
	outline: none;
}
.login {
	display: block;
}
.title {
	height: 100px;
	font-size: 18px;
}
.content {
	position: relative;
	height: calc(100% - 100px);
	text-align: center;
	font-size: 24px;
	color: #fff;
}
.user-num-text {
	padding: 0 20px;
	width: 300px;
	height: 50px;
	border: 0;
	border-radius: 30px;
	font-size: 18px;
	margin-top: 100px;
}
.btn-container {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
}
.btn-next {
	width: 160px;
	height: 50px;
	border-radius: 30px;
	border: 0;
	cursor: pointer;
}
.video {

}
.option-row {
    text-align: left;
    height: 50px;
    border-radius: 30px;
    padding: 0 20px;
    line-height: 2;
}
.option-row:hover {
	background: linear-gradient(to bottom, #888 0%, #333 50%, #888 100%);
	cursor: pointer;
}
.option-input {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.option-input:hover {
	cursor: pointer;
}
.option-label {
	margin-left: 20px;
}
.option-label:hover {
	cursor: pointer;
}